---
import { type CollectionEntry, getCollection } from "astro:content";
import Html from "components/html.astro";
import Nav from "components/navbar.astro";
import Prose from "components/prose.astro";
import { format } from "date-fns";
// import FeedbackIcon from "icons/hero/outline/chat-bubbles.svelte";
// import ReplyIcon from "icons/hero/outline/envelope.svelte";
// import HomeIcon from "icons/hero/outline/home-modern.svelte";

export async function getStaticPaths() {
  const pub = await getCollection("published");
  return pub.map((entry) => ({
    params: { path: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"published">;
}

const { entry } = Astro.props;
const {
  data: { title, description, pubDate, kind },
} = entry;
const { Content } = await entry.render();

const draft = entry.slug.startsWith("draft/");
---

<Html
  title={title}
  description={description}
  ogType="article"
  robots={draft ? "noindex" : undefined}
>
  <Nav />
  <main class="flex-1 px-4 pb-12 sm:pb-24">
    <article class="mx-auto max-w-screen-lg break-words font-medium" >
      <div class="mb-5 flex flex-col items-start" >
        <h1 
        class="text-2xl font-semibold leading-tight"
        transition:name={`title-${entry.slug}`}
      >
        {title}
      </h1>  
        <div class="flex items-center space-x-1 pl-1">
          <div class="text-sm text-zinc-600 dark:text-zinc-400">
            {
              kind === "article" ? (
              <a href={`/kind/${kind}`} class="font-medium text-blue-600 dark:text-blue-400 pr-2">
                  Article
                </a>
              ) : kind === "note" ? (
              <a
                  href={`/kind/${kind}`}
                  class="font-medium text-emerald-700 dark:text-emerald-400 pr-2"
                >
                  Note
                </a>
              ) : null
            } {format(pubDate, "yyyy-MM-dd")}
                        <!-- } published on {format(pubDate, "yyyy-MM-dd")} -->
          </div>
          {
            draft && (
              <div class="text-sm font-black uppercase text-rose-600 dark:text-rose-600">draft</div>
            )
          }
        </div>
      </div>
      <Prose>
        <Content />
      </Prose>
    </article>

    
  </main>
</Html>
